{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "camelcase": ["error", { "properties": "always" }],
    "linebreak-style": "off",
    "alguma-regra-de-nomeclatura": ["error", { "allow": ["id", "ID", "_id"] }]
  }
}
