{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es2021": true
  },
  "rules": {
    "no-console": "off",
    "camelcase": "off",
    "linebreak-style": "off",
    "consistent-return": "off"
  }
}
